@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Oculta la barra de desplazamiento en navegadores como Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 10px;
}

/* Estilo de la pista (fondo de la barra) */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* Negro oscuro */
  padding-left:14px;
}

/* Estilo del "thumb" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: #5a5a5a; /* Gris oscuro */
  border-radius: 10px;
}

/* Opcional: cambia el color al pasar el cursor */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

body {
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
}

#banner-image {
  mask-image: linear-gradient(black 80%, transparent)
}

