<footer class="bg-transparent py-10">
  <div class="container mx-auto flex flex-col items-center justify-center gap-4 text-center">
    <img
      src="https://res.cloudinary.com/dy7kvvzgj/image/upload/v1722884577/cio_ixxe4s.jpg"
      alt="migue-icon"
      class="h-20 w-20 rounded-full object-cover"
      loading="lazy"
    />
    <div>
      <p class="text-md font-normal text-white/70">&copy; 2025 Varmiguemunoz. All rights reserved.</p>
      <span class="text-md font-normal text-white/70">Building software with 🧠</span>
    </div>
  </div>
</footer>
