<nav class="fixed top-0 z-10 w-full bg-blue-900/90 px-10 py-5 md:bg-blue-900/10">
  <div class="w-full max-w-[30%]">
    <span class="text-2xl font-bold text-white">varmiguemunoz</span>
  </div>
</nav>
